<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <facilities>
    <facility id="nhibernate" isWeb="false" type="Castle.Facilities.NHibernateIntegration.NHibernateFacility, Castle.Facilities.NHibernateIntegration">
      <factory id="ETest">
        <settings>
          <item key="connection.provider">
            NHibernate.Connection.DriverConnectionProvider
          </item>
          <item key="connection.driver_class">
            NHibernate.Driver.SqlClientDriver
          </item>
          <item key="connection.connection_string">
            Data Source=.\sqlexpress;Initial Catalog=KnowledgeManagementSystem;Integrated Security=True;
          </item>
          <item key="dialect">
            NHibernate.Dialect.MsSql2005Dialect
          </item>
          <item key="proxyfactory.factory_class">
            NHibernate.ByteCode.LinFu.ProxyFactoryFactory, NHibernate.ByteCode.LinFu
          </item>
          <item key="show_sql">
            false
          </item>
        </settings>
        <assemblies>
          <assembly>KMS.Model</assembly>
        </assemblies>
      </factory>
    </facility>
  </facilities>
</configuration>