<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <log4net>
    <root>
      <appender-ref ref="MyAppender" />
      <level value="info" />
    </root>
    
    <!--<logger name="MyLogger">
      <appender-ref ref="MyAppender" />
      --><!--这个属性很重要，不继承root，否则会和nhibernate的日志混淆。--><!--
      <additivity value="false" />
    </logger>
    
    <appender name="NHAppender" type="log4net.Appender.RollingFileAppender">
      --><!--日志文件名 --><!--
      <file value="Log\NHibernateLog.txt" />
      --><!--追加到原文件 --><!--
      <appendToFile value="true" />
      --><!--以日志文件大小变换文件名--><!--
      <rollingStyle value="Size" />
      --><!--最大变换数量，-1 为不限制--><!--
      <maxSizeRollBackups value="-1" />
      --><!--最大文件大小 --><!--
      <maximumFileSize value="1MB" />
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="[记录时间：%date]%newline%-5p %c - %m%n" />
      </layout>
    </appender>-->
    
    <appender name="MyAppender" type="log4net.Appender.RollingFileAppender">
      <!--日志文件名 -->
      <file value="App_Data\AppLog.txt" />
      <!--追加到原文件 -->
      <appendToFile value="true" />
      <!--以日志文件大小变换文件名-->
      <rollingStyle value="Size" />
      <!--最大变换数量，-1 为不限制-->
      <maxSizeRollBackups value="-1" />
      <!--最大文件大小 -->
      <maximumFileSize value="1MB" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[记录时间：%date][%level]%newline异常类：%type%newline错误描述：%message%newline" />
      </layout>
    </appender>
  </log4net>
</configuration>